<%# app/views/pages/_cell.html.erb %>
<% is_free = cell.coordinate == "FREE" %>

<%= button_to mark_cell_bingo_card_path(cell.bingo_card), 
      params: { coordinate: cell.coordinate },
      disabled: cell.is_marked || is_free,
      class: "bingo-cell #{'is-marked' if cell.is_marked} #{'free-space' if is_free}",
      id: dom_id(cell) do %>
  
  <div class="cell-content">

    <%= cell.bingo_item.content %>

  </div>
  
  <% unless is_free %>
    <div class="cell-coord"><%= cell.bingo_item.row_number %></div>
  <% end %>

  <% if !cell.is_marked && PendingAction.exists?(target: cell, status: 'pending') %>
    <div class="pending-overlay">⏳</div>
  <% end %>
<% end %>